<cdk-virtual-scroll-viewport
  class="timeline"
  (scrolledIndexChange)="onScroll()"
  [itemSize]="itemSize"
  [minBufferPx]="minBufferPx"
  [maxBufferPx]="maxBufferPx"
>
  <p>Timeline (Newest->Oldest)</p>
  <li *cdkVirtualFor="let tweet of tweets" class="tweet">
    <img src="https://scontent-lhr8-2.xx.fbcdn.net/v/t39.30808-1/312146161_10167663013400500_338552569879597580_n.jpg?stp=cp6_dst-jpg_p720x720&_nc_cat=105&ccb=1-7&_nc_sid=7206a8&_nc_ohc=rV6gltHxRf8AX8U425k&_nc_ht=scontent-lhr8-2.xx&oh=00_AfD7_Qz0y9IDL8SelIhg8Vl_5AGt9PROr4f0p_p8zU5R3g&oe=63A81933" />
    <div class="tweet-content">
      <div class="tweet-text">Tweet: {{ tweet.text }}</div>
      <div class="tweet-metadata">
        Id: {{ tweet.tweetId }}, User: {{ tweet.userId }}
        CreatedAt: {{ tweet.createdAt }}
      </div>
    </div>
  </li>
</cdk-virtual-scroll-viewport>
