<cdk-virtual-scroll-viewport
  class="timeline"
  (scrolledIndexChange)="onScroll()"
  [itemSize]="itemSize"
  [minBufferPx]="minBufferPx"
  [maxBufferPx]="maxBufferPx"
>
  <p>Timeline (Newest->Oldest)</p>
  <li *cdkVirtualFor="let tweet of tweets" class="tweet">
    <img src="{{tweet.avatarUrl}}" />
    <div class="tweet-content">
      <div class="tweet-text">Tweet: {{ tweet.text }}</div>
      <div class="tweet-metadata">
        Id: {{ tweet.tweetId }}, User: {{ tweet.userId }}
        CreatedAt: {{ tweet.createdAt }}
      </div>
    </div>
  </li>
</cdk-virtual-scroll-viewport>
